.nav {
  height: 50px;
  background: whitesmoke;
  box-shadow: 0 1px 5px 5px rgba(0, 0, 0, 0.2)
}

.nav .link-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.nav .link-wrap a {
  text-decoration: none;
  font-size: 20px;
  margin: 0 20px;
  color: #555;
}