.nav {
  height: auto;
  background: whitesmoke;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.nav .link-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav .link-wrap a {
  text-decoration: none;
  font-size: 18px;
  margin: 0 20px;
  color: #555;
}

.sidenav {
  min-width: 240px;
  max-width: 240px;
  top: 0;
  flex: 1 0 auto;
  min-height: 100vh;
  height: auto;
  display: flex;
  outline: none;
  z-index: 1200;
  position: relative;
  overflow-y: auto;
  flex-direction: column;
}

.sidenav a {
  text-decoration: none;
  font-size: 18px;
  color: #555;
}

.logo {
  display: flex;
  flex-wrap: nowrap;
  margin-right: auto;
}

.logo img {
  height: 60px;
  width: auto;
}

.modal-style {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  background: white;
  outline: none;
  height: 300px;
  width: 350px;
}

.book-style {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 160px;
  width: 150px;
  margin: 0;
  color: black;
}

.book-style h4, .book-style p{
  margin: 0;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  visibility: hidden;
  cursor: pointer;
}

.papel:hover .actions{
  visibility: visible;
}

.del-dialog {
  display: flex;
  flex-direction: column;
}

.del-dialog h3 {
  padding: 20px;
  text-align: center;
}

.del-dialog-btn {
  display: flex;
}

.del-dialog-btn button {
  margin: 20px;
}

.display-details {
  display: flex;
  flex-direction: column;
}